/**
 * Reset some basic elements
 */
html, body, div, span, object, ifram, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, img, form, table, time, canvas, header,
meny, nav, section, audio, video, dl, dd, ol, ul, figure, blockquote {
  border:0;
  font-size:100%;
  vertical-align:baseline;
  margin:0;
  padding:0
}
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section{
  display:block
}
body {
  line-height:1
}
table {
  border-collapse:collapse;
  border-spacing:0
}

/**
 * Generall
 */ 
html {
  font-size: 62.5%; 
  width: 100%;
}
body {
}
#content{
  width: 80rem;
  margin: auto;
  background-color: #c9ced3;
}

/**
 * Buttons
 */
.arrow {
  width: 6rem;
  height: 6rem;
}




/**
 * Layout
 */
.left-slider-button {
  float: left;
}
.right-slider-button {
  float: right; 
}
.shirt {
  height: 40rem;
  width: auto;
}
.clothes-content {
  margin: auto;
}


